<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles.css" />
    <title>Document</title>
  </head>
  <body>
    <%- include('./partials/navbar') %>
    <div class="pageContent">
      <div class="profileContent">
        <% if (profile){ %>
        <div class="userProfileCard">
          <div class="userProfilePicture">
            <img src="/imgs/profile-picture.png" alt="" />
          </div>
          <div><%- profile.username %> <%if (profile.member){%> ✔ <%}%></div>
        </div>
        <%if(messages){ messages.forEach(rootMessage => { %>
        <div class="thread">
          <div class="message"><%- rootMessage.message %></div>

          <% rootMessage.replies.forEach(reply => {%>
          <div class="messageReply">&#9; <%- reply.message%></div>
          <%}); %> <% if (currentUser){ %>
          <form action="/profile/reply" method="post">
            <input
              type="hidden"
              name="parentMessageId"
              value="<%- rootMessage.message_id %>"
            />
            <input
              type="hidden"
              name="profileUsername"
              value="<%- profile.username %>"
            />
            <input type="hidden" name="profileID" value="<%- profile.id%>" />
            <div class="reply"><input type="text" name="message" /></div>
            <button type="submit">reply</button>
          </form>
          <%}%>
        </div>

        <% })} %> <% if(currentUser){ %>
        <div class="questionForm">
          <form action="" method="post">
            <textarea
              id="message"
              name="message"
              rows="2"
              placeholder="Ask a question"
            ></textarea>
            <input type="hidden" name="profileId" value="<%- profile.id%>" />
            <button type="submit">?</button>
          </form>
        </div>
        <% }else{ %>
        <div class="questionPlaceholder questionForm">
          sign in to ask a question
        </div>
        <% } %> <% } %>
      </div>
    </div>
  </body>
</html>
